@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
  exclude: rootscrollgutter;
}

@plugin "daisyui/theme" {
  name: "dark";
  --depth: 0;
  --noise: 0;
  --gloss: 0;
}

/* @plugin "daisyui/theme" {
  name: "light";
  default: false;
  --depth: 0;
  --noise: 0;
  --gloss: 0;
} */

html,
body {
  margin: 0;
  padding: 0;
}

.btn {
  /* @apply no-animation; */
}

.logo {
  will-change: filter;
  transition: filter 50ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgba(135, 193, 230, 0.45));
  /* filter: drop-shadow(0 0 1em var(--color-success)); */
}
